.container{
    height: 300px;
    

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    gap: 20px;
    box-shadow: black;
   
}
.image{
    height: 60%;
    width: 100%;
   
}



